.AppIconContainer{
  display: flex;
  flex-direction: column;
 
  justify-content: center;
  align-items: center;
  width:80px;
  height:100px;
  font-family: Inter-reg;
}
.IconImage{
  background-color: var(--icon-background);
  width:100px;
  height:100px;
}
.IconLabel{
  font-size: small;
}
.AppIconContainer:hover{
  cursor: pointer;
  background-color: hsla(0, 0%, 59%, 0.348);
  box-shadow: 0px 0px 5px 5px hsla(0, 0%, 59%, 0.348) ;

}