:root{
    --panel-color:light-dark(hsla(0, 0%, 0%, 0.093),hsla(0, 0%, 100%, 0.093));
    --text-color:light-dark(black,white);
    --button: light-dark(hsl(0, 0%, 100%),hsl(0, 0%, 11%) );
    --button-text:light-dark(hsl(0, 0%, 0%),rgb(255, 255, 255));
    --prenumber-text:light-dark(hsl(0,0%,20%),hsl(0,0%,80%))
}

.taskbar-outer {
  margin: 0 0.5rem;
  display: flex;
  width: 100%;
  max-width: 100%;
  align-items: center;
  z-index: 3;
  position: fixed;
  bottom: 0;
  left: 0;
  /* top: 95.2vh; */
  min-height: 47px;
  pointer-events: none;
}

.taskbar-panel {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  width: fit-content;
  gap: 1rem;
  border-radius: 1rem;
  background-color: var(--panel-color);
  border: 1px solid var(--text-color);
  padding: 0 0.5rem 0.5rem;
  pointer-events: auto;
}

.taskbar-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--button);
  border: 1px solid #222;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  outline: none;
}

.taskbar-icon {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.taskbar-label {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  width: fit-content;
  white-space: pre;
  border-radius: 0.375rem;
  border: 1px solid #222;
  background-color: #060010;
  padding: 0.125rem 0.5rem;
  font-size: 0.75rem;
  color: #fff;
  transform: translateX(-50%);
}
