@font-face {
  font-family: Ndot57;
  src: url("/public/Ndot57-Regular.otf");
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.greetings-container{
  position:absolute;
  left:45vw;
  top:25vh;
  z-index:1 ;
  font-family:Ndot57

}

.AppIconContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100px;
  height:100px;
}
.IconLabel{
  font-size: small;
}
.AppIconContainer:hover{
  cursor: pointer;
  background-color: hsla(193, 95%, 68%, 0.348);

}
.Desktop {
  position: relative;
  /* background-image: url("/public/Desktop.webp"); */
  background-color: black;
  min-height: 100vh;
  min-width:100%;
  font-size: calc(10px + 2vmin);
  color: white;
  background-repeat: no-repeat;
}

.iframe-container{
  container-type: size;
    width: 100vh;
    min-height: 200px;
    resize: vertical;
    overflow: auto;
}



.Taskbar {
  position: absolute;
  z-index: 4;
  top: 95.2vh;
  min-height: 47px;
  width:100vw;
  background-color: hsl(116, 15%, 22%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


}


.taskbarIconContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height:43px;
  width:45px
}
.taskbarIconContainer:hover{
  background-color: hsla(0, 0%, 86%, 0.34);
  border-radius: 10px;
}

/* Windows----------- */
.WindowContainer{
  display:flex;
  flex-direction: column;
  border: 4px solid hsl(0, 83%, 30%); 
  background-color: antiquewhite;
  position: absolute;
  width:50vw;
  height: 60vh;
}
.Program{
  flex:1 1 auto;
  width: 100%;
  border:0;

}

.TitleBar{
  flex:0 0 auto;
  max-height: 26px;
  background-color: hsl(0, 0%, 27%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.TitleBar img{
  width:25px;
  height:25px;
}
.IconImage{
  border-radius: 10px;
}
.tools{
  display: flex;

}
.tools .Btn{
  border:1px solid  hsl(0, 0%, 80%);;
  background-color: hsla(0, 0%, 100%, 0.348);
}
.tools .Btn:hover{
  background-color: hsla(0, 0%, 100%, 0.623);
}
.tools .Btn.Exit:hover{
  background-color: hsla(0, 89%, 57%, 0.76);
}
/* ----------------------------------- */

.App-link {
  color: #61dafb;
}


